<!-- Header -->
<div>
    <h1>Tim Hortons!</h1>
    <button>Sign In</button>
</div>

<!-- Welcome Sign Up Section -->
<div>
    <p>
        Earn points and redeem rewards. Order ahead and pay.
        Get it delivered or skip the line inside!
    </p>
    <button>Sign Up</button>
</div>

<!-- Offer/Promo Card Selections -->
<div>
    <!-- Ex #1 -->
    <div>
        <p>Offer Card</p>
        <p>Offer Title</p>
        <p>Offer Description</p>
        <p>Terms & Conditions</p>
        <button>Order Now</button>
    </div>

    <!-- Ex #2 -->
    <div>
        <p>Offer Card</p>
        <p>Offer Title</p>
        <p>Offer Description</p>
        <p>Terms & Conditions</p>
        <button>Order Now</button>
    </div>
</div>

<!-- Announcement(s) Banner/Cards -->
<div>
    <h1>Tims Rewards Program has changed!</h1>
    <p>Important Notice: Changes to the Tims Rewards Program Terms effective April 12, 2023.</p>
    <p><a href="">Learn More</a></p>
</div>

<!-- Footer -->
<div>
    <!-- Careers -->
    <section>
        <p>Careers</p>
        <p>Come join the team</p>
        <p><a href="">Browse Opportunities</a></p>
    </section>

    <!-- Community -->
    <section>
        <p>Community</p>
        <p>Make a true difference</p>
        <p><a href="">Learn More</a></p>
    </section>

    <!-- Find a Tim Hortons -->
    <section>
        <p>Find a Tim Hortons</p>
        <p>We can't wait to serve you</p>
        <p><a href="">Store Locator</a></p>
    </section>

    <!-- Miscellaneous Links -->
    <section>
        <ul>
            <li><a href="">Franchise</a></li>
            <li><a href="">Investors</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Frequently Asked Questions</a></li>
        </ul>
        <ul>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms of Service</a></li>
            <li><a href="">Trademarks Notice</a></li>
            <li><a href="">Accessibility</a></li>
            <li><a href="">Diagnostics</a></li>
        </ul>
    </section>

    <!-- Social Media Connect Links -->
    <section>
        <p>Connect with Us</p>
        <ul>
            <li><a href="">Instagram</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">YouTube</a></li>
            <li><a href="">X (Formerly Twitter)</a></li>
            <li><a href="">TikTok</a></li>
        </ul>
    </section>

</div>
<!-- Item and location availability check -->
<div>
    <p>For item availability</p>
    <p>Choose a location</p>
    <!-- #TODO: update -->
    <button>Add to Cart (Icon)</button>
</div>