<!-- Main container / centers page -->
<div class="login-container">

    <!-- Main Header -->
    <div class="title-container">
        <h1>Please Log In Using Your Credentials</h1>
        <p>There are only a limited number of attempts.</p>
    </div>

    <!-- Log-in Form Card -->
    <div class="card-container">
        <mat-card class="login-card">

            <mat-card-content>

                <!-- User Image -->
                <div>
                    <img src="" alt="Placeholder Image for User">
                </div>

                <!-- Form fields -->
                <div class="form-row">
                    <label for="username">Username: </label>
                    <input id="username" type="text" />
                </div>

                <div class="form-row">
                    <label for="password">Password: </label>
                    <input id="password" type="password" />
                </div>

                <div class="form-row">
                    <button>Enter</button>
                    <!-- <button mat-flat-button>Enter</button> -->
                </div>

            </mat-card-content>

        </mat-card>        
    </div>
</div>
